# --------------------------------------------------
# General
# --------------------------------------------------

# Cursor Project Rules
.cursor/rules/*

# dotenv environment variables file
.env
.env.*

# --------------------------------------------------
# Workspace
# --------------------------------------------------

# ChromaDB
chroma_db/

# --------------------------------------------------
# Node.js
# --------------------------------------------------

# Logs
logs
*.log
*-debug.log*
*-error.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/

# --------------------------------------------------
# Python
# --------------------------------------------------

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Environments
.venv/

# mypy stuff
.mypy_cache/

# Ruff stuff
.ruff_cache/
